.clbH2,
.clb-h2 {
  font-size: 24px;
  color: #01827D;
  font-weight: bolder;
}
.clbH3,
.clb-h3 {
  font-size: 20px;
  color: #01827D;
  font-weight: bold;
}
.clbH4,
.clb-h4 {
  font-size: 18px;
  color: #01827D;
  font-weight: normal;
}
.clbH5,
.clb-h5 {

}
.clbH6,
.clb-h6 {

}
.clbP,
.clb-p {
  color: #333333 !important;
  font-weight: normal;
}
.clbHr,
clb-hr {
  color: #bebebe;
}
.clb-measure {
  padding-top: 1rem;
}
